@{
    ViewBag.Title = "О справочнике";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <h2>Общая информация о справочной системе</h2>
    </div>

    <div class="panel-body">
        <article class="alert alert-info">
            <h4>
                Если Вы зарегистрированы в качестве пользователя данного справочника, то войдите в программу со своими учетными данными
            </h4>

            <h4>
                Если Вы не зарегистрированы в качестве пользователя данного справочника, то Вы можете пользоваться упрощенной версией настоящего справочника
            </h4>

            <h4>
                Пожалуйста, адресуйте свои вопросы, замечания и предложения администратору справочника (контактный e-mail приведен в разделе контакты)
            </h4>
        </article>
    </div>
</div>