@{
    ViewBag.Title = "Контакты";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <h2>Контактная информация</h2>
    </div>

    <div class="panel-body">
        <header class="text-center">
            <h3>Телефоны</h3>
        </header>
        <p>
            <span class="badge">Приемная:</span>
            <span>+375(17)111-11-11</span>
        </p>

        <header class="text-center">
            <h3>Email</h3>
        </header>
        <p>
            <span class="badge">Администратор справочника:</span>
            <span><a href="mailto:admin@example.com">admin@example.com</a></span>
        </p>
        <p>
            <span class="badge">Отдел маркетинга:</span>
            <span><a href="mailto:marketing@example.com">marketing@example.com</a></span>
        </p>
        <p>
            <span class="badge">Приемная:</span>
            <span><a href="mailto:general@example.com">general@example.com</a></span>
        </p>

        <header class="text-center">
            <h3>Адрес</h3>
        </header>
        <p>
            <strong>Наша компания</strong><br/>
            Минск, ул. Улица, 1, 1
        </p>
    </div>
</div>
