@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Поиск по фамилии";
}

<h2>Поиск контактных данных по фамилии</h2>
@using (Html.BeginForm("ListByName", "Contact"))
{
    <fieldset>
        <b>Введите фамилию: </b>
        <input type="text" id="lastName" name="lastName" data-autocomplete-source="@Url.Action("AutocompleteSearch", "Contact")" />
        <input class="btn alert-info" type="submit" value="Найти" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="@Url.Content("~/Scripts/myscripts/livesearching.js")"></script>
}
@Styles.Render("~/Content/themes/base/css")
