@model IEnumerable<string>

@{
    ViewBag.Title = "Поиск контактных данных по заданной должности";
}

<h2>Поиск контактных данных по должности</h2>

@using (Html.BeginForm("List", "Contact"))
{
    <fieldset>
        <b>Выберите название должности: </b>
        @Html.DropDownList("function", new SelectList(Model))
        <input class="btn alert-info" type="submit" value="Отобразить" />
    </fieldset>
}